/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
*{margin:0;padding:0;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
:focus {outline:0;}
a{text-decoration: none; color:inherit}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse;border-spacing: 0;}

@font-face {
    font-family: Synchro;
    src: url('../fonts/Synchro/synchro-webfont.eot');
    src: url('../fonts/Synchro/synchro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Synchro/synchro-webfont.woff') format('woff'),
         url('../fonts/Synchro/synchro-webfont.ttf') format('truetype'),
         url('../fonts/Synchro/synchro-webfont.svg#SynchroLETPlain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grilled';
    src: url('../fonts/Grilled/grilledcheesebtnwide-webfont.eot');
    src: url('../fonts/Grilled/grilledcheesebtnwide-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Grilled/grilledcheesebtnwide-webfont.woff') format('woff'),
         url('../fonts/Grilled/grilledcheesebtnwide-webfont.ttf') format('truetype'),
         url('../fonts/Grilled/grilledcheesebtnwide-webfont.svg#GrilledCheeseBTNWideRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
	width:100%;
	height:100%;
	margin:0;
	background:url('../img/pelouse.png') repeat;
}

#header{
	width:100%;
	height:145px;
	background:#b8d6eb;
	text-align:center;
	overflow:hidden;
	position:relative;
}

#header #paysage{
	width:960px;
	height:150px;
	background:url('../img/paysage.png') no-repeat;
	margin:10px auto;
}

#header h1 a{
	display:block;
	width:374px;
	height:114px;
	padding-top:28px;
	background:url('../img/panneau.png') no-repeat;
	color:#fff;
	font-family:Grilled;
	font-size:30px;
	margin:0px auto;
}

#corps{
	width:100%;
	background:url('../img/pelouse.png') repeat;
}

.contener{
	width:960px;
	margin:0 auto;
	padding:20px 0;
	position:relative;
}
.herbe{
	width:100%;
	height:22px;
	background:url('../img/herbe.png') repeat-x;
	position:absolute;
	bottom:0px;
}

.moutons{
	width:271px;
	height:70px;
	background:url('../img/moutons.png') repeat-x;
	position:absolute;
	top:-90px;
	left:200px;
}

#game{
	width:960px;
	height:600px;
	background:green;
	border:5px solid white;
	position:relative;
}

.ecran{
	width:760px;
	height:400px;
	padding:100px;
	background:url('../img/background_ecran.jpg') no-repeat;
	color:#66b345;
	line-height:150%;
	font-size:1.5em;
	font-family:Synchro;
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
	z-index:500;
	display:none;
}
.ecran .bouton{
	display:inline-block;
	padding:3px 70px;
	background:#66b345;
	color:#1e1e1e;
	font-size:1.5em;
	font-family:Synchro;
}
.ecran .bouton:hover{
	color:#66b345;
	background:#000;
	border:3px solid #66b345;
	padding:0px 67px;
}
#home{
	display:block;
}
#home ul li{
	margin-bottom:90px;
}
#home ul{
	margin-top:40px;
}

#intro .bouton{
	position:absolute;
	bottom:100px;
	left:230px;
}

#scores ul{
	width:300px;
	text-align:left;
	margin:30px auto 0 auto;
}

#scores li{
	display:inline-block;
	width:300px;
	position:relative;
}

#scores span{
	position:absolute;
	right:0px;
}

#scores .bouton{
	position:absolute;
	bottom:100px;
	left:230px;
}

#touches div{
	width:350px;
	padding-left:400px;
	height:376px;
	background:url('../img/touches.png') no-repeat;
	margin-left:50px;
	text-align:left;
}

#touches p{
	margin-bottom:85px;
}

.titreEcran{
	position:relative;
	top:0px;
}

.textEcran{
	position:relative;
	top:130px;
}

.boutonEcran{
	margin-top:250px;
}

#content{
	width:960px;
	height:600px;
	position:relative;
	margin:0px auto;
	padding-top:20px;
}
#map3d{
	height:100%;
	width:480px;
	border:none;
	padding:0;
	margin:0;
	float:right;
	bottom:0;
}
#Flash_part{
	height:600px;
	width:480px;
	float:left;
	margin-top:0px;
}

#dashboard{
	width:480px;
	height:600px;
	z-index:100;
	background: url('../img/dashboard/fond.png');
	position:relative;
	top:0px;
	left:480px;
}
#separateur{
	width:15px;
	height:600px;
	z-index:200;
	background: url('../img/dashboard/separateur.png');
	position:absolute;
	top:0px;
	left:-7px;
	
}
#top{
	width:480px;
	height:180px;
	font-family: Synchro;
	color:#42FF00;
	font-size:24px;
	text-align:center;
}
#top #temps{
	width:60px;
	height:35px;
	z-index:100;
	background: url('../img/dashboard/temps_score.png');
	position:absolute;
	top:55px;
	left:30px;
	font-size:34px;
}
#top #mission{
	width:280px;
	height:26px;
	z-index:100;
	background: url('../img/dashboard/mission.png');
	position:absolute;
	top:20px;
	left:100px;
}
#top #score{
	width:60px;
	height:35px;
	z-index:100;
	background: url('../img/dashboard/temps_score.png');
	position:absolute;
	top:55px;
	left:390px;
	font-size:34px;
}
#viseur{
	width:231px;
	height:188px;
	z-index:300;
	background: url('../img/dashboard/viseur.png');
	position:absolute;
	top:200px;
	left:120px;
	font-family: Synchro;
	color:#42FF00;
	font-size:24px;
	text-align:center;
}
#bottom{
	width:480px;
	height:200px;
	position:relative;
	top:220px;
}
#bottom #radar{
	width:115px;
	height:115px;
	z-index:100;
	background: url('../img/dashboard/radar.png');
	position:absolute;
	top:70px;
	left:360px;
}
#bottom #radar #map_radar{
	width:66px;
	height:66px;
	position:absolute;
	top:21px;
	left:23px;
	overflow:hidden;
}
#bottom #radar #point_radar{
	width:6px;
	height:6px;
	z-index:100;
	background: url('../img/dashboard/point_radar.gif');
	position:absolute;
	top:30px;
	left:30px;
}
#bottom #bouton{
	display:block;
	width:94px;
	height:88px;
	background: url('../img/dashboard/bouton.png') 0 -88px no-repeat;
	z-index:100;
	position:absolute;
	top:110px;
	left:200px;
}
/*#bottom #bouton:hover{
	background-position:0 0;
}*/
#bottom #compteur_hauteur{
	width:28px;
	height:159px;
	z-index:100;
	background: url('../img/dashboard/hauteur.png');
	position:absolute;
	top:30px;
	left:30px;
}
#bottom #jauge_hauteur{
	width:40px;
	height:40px;
	z-index:100;
	background: url('../img/dashboard/point_hauteur.png');
	position:relative;
	top:53px;
	left:-6px;
}