/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
*{margin:0;padding:0;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
:focus {outline:0;}
a{text-decoration: none; color:inherit}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse;border-spacing: 0;}

#content{
	width:960px;
	height:600px;
	margin:60px auto;
}
#map3d{
	height:100%;
	width:480px;
	border:none;
	padding:0;
	margin:0;
	float:right;
	bottom:0;
}
#Flash_part{
	height:600px;
	width:480px;
	float:left;
	margin-top:0px;
}
#swf{
	width:480px;
	height:375px;
}
#dashboard{
	width:480px;
	height:600px;
	z-index:100;
	background: url('../img/dashboard/fond.png');
	position:relative;
	top:0px;
	left:480px;
}
#top{
	width:480px;
	height:180px;
}
#top #temps{
	width:60px;
	height:35px;
	z-index:100;
	background: url('../img/dashboard/temps_score.png');
	position:absolute;
	top:55px;
	left:30px;
}
#top #mission{
	width:257px;
	height:26px;
	z-index:100;
	background: url('../img/dashboard/mission.png');
	position:absolute;
	top:20px;
	left:115px;
}
#top #score{
	width:60px;
	height:35px;
	z-index:100;
	background: url('../img/dashboard/temps_score.png');
	position:absolute;
	top:55px;
	left:390px;
}
#viseur{
	width:231px;
	height:188px;
	z-index:200;
	position:absolute;
	/*background: url('../img/dashboard/viseur.png');
		background-size:50%;*/
	top:200px;
	left:130px;
}
#bottom{
	width:480px;
	height:200px;
	position:relative;
	top:220px;
}
#bottom #radar{
	width:115px;
	height:115px;
	z-index:100;
	background: url('../img/dashboard/radar.png');
	position:absolute;
	top:70px;
	left:360px;
}
#bottom #compteur_hauteur{
	width:28px;
	height:159px;
	z-index:100;
	background: url('../img/dashboard/hauteur.png');
	position:absolute;
	top:30px;
	left:30px;
}
#bottom #jauge_hauteur{
	width:40px;
	height:40px;
	z-index:100;
	background: url('../img/dashboard/point_hauteur.png');
	position:relative;
	top:0px;
	left:-6px;
}